*.pyc
__pycache__/
# =========================
# DATA FILES (IGNORE THESE)
# =========================
*.csv
*.json
*.parquet
*.txt
*.parquet
*.yml

# folders commonly used in data engineering
data/
output/
outputs/
logs/
checkpoints/

# Spark / Kafka temporary files
*.crc
*.tmp

# Python
__pycache__/
*.pyc

# environment
.venv/

# Airflow environment config
.env

# Airflow runtime files
logs/
plugins/
dags/__pycache__/
__pycache__/

# Airflow DB (if local SQLite is used)
airflow.db

# Docker artifacts
*.pid
*.log

# OS files
.DS_Store

# Great Expectations
great_expectations/uncommitted/
great_expectations/data_docs/
great_expectations/validations/
great_expectations/checkpoints/
.DS_Store
.DS_Store
